@media (min-width: 1200px) {
  section.cloud .buttons button.btn-gradient {
    padding: 19px 20px;
  }
  section.cloud .buttons button.btn-border-gradient > span {
    padding: 19px 20px;
  }
}
@media (max-width: 1200px) {
  body main section.cloud h1 {
    font-size: 40px;
  }
  body main section.cloud p {
    font-size: 22px;
  }
  body main section.cloud h1, body main section.cloud p {
    margin-bottom: 30px;
  }
  body main section.cloud .row > div:nth-of-type(1) {
    margin-bottom: 30px;
  }
  body main section.cloud .row img {
    max-width: 550px;
    display: block;
    margin: 0 auto;
  }
  body main section.offer .row > div .box {
    margin-bottom: 20px;
  }
  body main section.crm .loading_cont {
    display: none;
  }
  body button.btn-gradient {
    font-size: 18px;
  }
  body button.btn-border-gradient > span {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  body main section {
    padding: 70px 50px;
  }
  body main section.whatdoes .mobile_tabs {
    display: block;
  }
  body main section.whatdoes .userclienttabs .desktop_tabs {
    display: none;
  }
}
@media (max-width: 900px) and (min-width: 768px) {
  body main section.whatdoescrm .hover_card .buttons {
    flex-direction: column;
  }
  body main section.whatdoescrm .hover_card .buttons .btn-gradient {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  body main section.process .calendar {
    display: none;
  }
  body .contacts .contact {
    right: auto;
    bottom: 0;
    top: auto;
  }
  body .contacts .contact .contact-box {
    padding: 15px;
  }
  body footer .footer .row img {
    display: block;
    margin: 0 auto;
  }
  body footer .footer .row > div {
    margin-bottom: 15px;
    justify-content: center;
  }
  body footer .footer .row > div:last-of-type {
    margin-bottom: 0;
  }
  body footer .footer .row > div:nth-of-type(3) {
    justify-content: center;
  }
  body footer .footer .row > div:first-of-type a {
    text-align: center;
    width: 100%;
  }
  body footer .footer .row p {
    text-align: center;
  }
  body .modalDisc .modal-dialog .modal-content .modal-footer {
    flex-direction: column;
  }
  body .modalDisc .modal-dialog .modal-content .modal-footer button:first-of-type {
    margin: 0 0 5px 0;
  }
  body .modalDisc .modal-dialog .modal-content .modal-footer button::last-of-type {
    margin: 5px 0 0 0;
  }
}
@media (max-width: 605px) {
  body main section.process {
    display: none;
  }
}
@media (max-width: 576px) {
  body main section.cloud {
    padding: 70px 50px;
  }
  body main section.cloud .buttons {
    flex-direction: column;
  }
  body main section.cloud .buttons button {
    margin: 0;
  }
  body main section.cloud .buttons button:nth-of-type(1) {
    margin-bottom: 20px;
  }
  body main section.whatdoescrm .hover_card .buttons {
    flex-direction: column;
  }
  body main section.whatdoescrm .hover_card .buttons .btn-gradient {
    margin-bottom: 15px;
  }
}
@media (max-width: 425px) {
  body main section {
    padding: 30px 20px;
  }
}
@media (min-width: 576px) {
  body .modalDisc .modal-dialog {
    max-width: 600px;
    margin: 60px auto;
  }
}

/*# sourceMappingURL=media.css.map */
